.center {
	text-align:center;
}

.center .form-centered {
  display:inline-block;
}

.commit {
  width: 48em;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform: translate(200px, 100px);
  transition:transform 2s;
  transform:translate(200px, 100px);
}

.commit .avatar {
  width: 128px;
  height: 128px;
  float: left;
  margin-right: 10px;
}

.commit .message {
  font-size: 4.2ex;
  text-align: left;
}

.commit .repository {
  font-size: 2.5ex;
  text-align: left;
}
.commit .strapline {
  font-size: 3ex;
}

.commit .user, .commit .date {
  display: inline;
}

.commit .user {
  font-weight: bold;
}

.commit .strapline {
  text-align: right;
}

.commit .user::before  {
  content: "by ";
  font-weight: normal;
}
.commit .date::before  {
  content: " on ";
}

.award-icon {
  font-size: 48pt;
  float: left;
  margin-right: 20px;
}

.award {
  display: block;
  clear: both;
  width: 24em;
}

.award-name {
  padding-top: 0.3em;
  font-size: 2em;
  text-align: left;
  font-weight: bold;
}

.award-justification {
  text-align: right;
}

.award-gold {
  color: #FFD700;
}

.award-silver {
  color: #C0C0C0;
}

.award-bronze {
  color: #cd7f32;
}

.awards-winners {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.awards h2, .teams h2, .day h2 {
  margin-bottom: 2em;
}
